*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bod{
    width: 100%;
    height: 100vh;
    background-color: rgb(204, 204, 13);
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10rem 60vh 25vh;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}
#header-haed{
    background-color: blueviolet;
    grid-area:header;
    height: 10rem;
    width: 100%;
    background-color: blueviolet;
}
#main-m{
    grid-area:main;
}
#footer-f{
    grid-area:footer;
}

h1:hover{
    font-size: 36px;
    text-shadow: 0px 0px 10px 8px blueviolet;
} 
 h1{
    transition-property: box-shadow ,font-size;
    transition-duration: 1s;
    display: inline-block;
    text-decoration: none;
    color:  blueviolet;
    font-size: 40px;
    margin-left: 100px;
    margin-top: 20px;
    border: solid 2px  ;
    border-radius: 15px;
} 
  .div-h{
    background-color: blue;
    height: 30vh;
    width: 20vw;
    text-align: center;
    border-radius: 50%;
 }
.a-h{
  text-decoration-color: black;
  text-decoration: none;
}
.div-a-h{
    /* transform: translateX(100px); */
    color: black;
}